{
  http_port 6666
  https_port 8888
}

ks.yesyouget.art:6666 localhost:6666  {
  encode gzip 

  respond /ping "PONG!!!"
   
  route /help/* {
      uri strip_prefix /help
      reverse_proxy webdis:7379
  }

  reverse_proxy  /redRewards* moser:3000

  reverse_proxy  /xiaoaitts* xiaoai:8848

  reverse_proxy /key/* fastapi:80
  reverse_proxy /device/* fastapi:80

  handle_path /script/update* {
        root * /dist
        # file_server browse
        file_server 
    }
  @file_download path  /script/update* 
  header @file_download {
	  Cache-Control max-age=0
  	Content-Type application/octet-stream
  	Content-Disposition `attachment; filename="{file}"`
  }
 }

